.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}
.main > section {
  height: 100vh;
  width: 100%;
  background-color: #7e8081;
  display: flex;
  align-items: center;
  justify-content: center;
}
#home {
  background-color: #1C8106;
}
#about {
  background-color: #6081C3;
}
#project {
  background-color: #A83E11;
}
#contact {
  background-color: #87aed4;
}
.nav {
  position: sticky;
  top: 0;
  background-color: #eef0f1;
  border-radius:0 0 20px 20px;
  color:#000000;
}

nav .container {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
}
nav .container ul li {
  display: inline-block;
  border-radius:5px;
}
nav .container ul li.active {
  background-color: #3b49df;
  border-radius:30px;
  transition: 0.3s;
}
nav .container ul li.active a {
  color: #ffffff;
}
